<div class="container" *ngIf="item;else loading">

  <div class="content-sidebar">
    <div class="item-details">
      <div class="header">
        <h1>{{item.title}}</h1>
      </div>
      <div class="owner-col">
        <p><span><b>{{'Author:' | uppercase}}</b> {{item.owner}}</span><span> | </span><span><b>{{'Price:' | uppercase}}</b> {{item.price | currency:'EUR':true }}</span></p>
      </div>
      <div class="info-col1">
        <img [src]="item.image" alt="Image of {{item.title}}">
        <article>
          <h3>{{'Description' | uppercase}}</h3>
          <p>{{item.description}}</p>
        </article>
      </div>
      <div class="info-col2" *ngIf="type != ''">
        <h3>{{'More Details' | uppercase}}</h3>
        <article *ngIf="type == 'comic'">
          <p *ngIf="item.age">Age: {{item.age}}</p>
          <p *ngIf="item.type">Type: {{item.type}}</p>
          <p *ngIf="item.author">Author: {{item.author}}</p>
          <p *ngIf="item.pages">Pages: {{item.pages}}</p>
          <p *ngIf="item.publisher">Publisher: {{item.publisher}}</p>
          <p *ngIf="item.publish_date">Published: {{item.publish_date | date: 'longDate' : 'GMT' : 'en-US' }}</p>
          <p *ngIf="item.isbn">ISBN: {{item.isbn}}</p>
        </article>

        <article *ngIf="type == 'figure'">
          <p *ngIf="item.size">Size: {{item.size}}</p>
        </article>

        <article *ngIf="type == 'clothes'">
          <p *ngIf="item.type">Type: {{item.type}}</p>
          <p *ngIf="item.size">Size: {{item.size}}</p>
        </article>
      </div>
    </div>
    <div class="button-group flex-c">
      <!--<mat-icon>favorite_border</mat-icon>-->
      <button class="add-to-wishlist" (click)="addToWishlist()"><mat-icon>favorite</mat-icon>{{'Add to wishlist' | uppercase}}</button>
      <button class="buy-item" (click)="buyItem()"><mat-icon>shopping_cart</mat-icon>{{'Gimme that!' | uppercase}}</button>
    </div>
  </div>
  <div class="comments-container">
    <h2>Comments</h2>

    <mat-list class="comment-list">
        <mat-list-item *ngFor="let comment of comments">
          <mat-icon mat-list-icon>sentiment_satisfied</mat-icon>
          <h3 mat-line>{{comment.comment_author}} | {{comment.comment_date | date: 'longDate' : 'GMT' : 'en-US' }}</h3>
          <p mat-line> {{comment.comment_content }} </p>
          <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>

    <form [formGroup]="commentForm" (submit)="onSubmitComment()" class="comment-form" *ngIf="user;else notLoggedIn">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Comment:</mat-label>
          <textarea matInput formControlName="comment"></textarea>
        </mat-form-field>
          <div *ngIf="commentForm.get('comment').invalid
            && (commentForm.get('comment').dirty
                || commentForm.get('comment').touched)
            && commentForm.get('comment').hasError('required')"
            class="ui negative message">
            Enter a message!
          </div>
      </div>

      <button type="submit" matSuffix mat-icon-button aria-label="Clear" [disabled]="commentForm.invalid">
        <mat-icon>send</mat-icon> Add comment
      </button>
    </form>

    <ng-template #notLoggedIn>
      <div>
        For adding comments, please log in.
      </div>
    </ng-template>
  </div>


</div>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
