.tab-icon {
  margin-right: 0.5rem;
}

.form-container {
  padding: 1rem 2rem;
  max-width: 900px;
  margin-bottom: 2rem;
}

.row {
  padding: 0.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

mat-radio-button {
  padding: 0.5rem;
}

.image-field div:first-child {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label {
    opacity: 0.8;
  }
}
