<h1>Figures</h1>

<div class="filter-container">
  <mat-button-toggle-group #group="matButtonToggleGroup" (change)="changePage(group.value)" *ngIf="figures.size > 1">
    <mat-button-toggle [value]="f.key" *ngFor="let f of figures | keyvalue" [class.mat-button-toggle-checked] = "f.key == currentPage">
      {{f.key}}
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<app-loader *ngIf="isLoading;else cardcontainer"></app-loader>

<ng-template #cardcontainer>
  <div class="card-container" *ngIf="checkDataForPageExists();else nodata">
    <a class="card-link" *ngFor="let f of displayedFigures()">
      <mat-card class="card figure">
        <img mat-card-image [src]="f.image" alt="Image of {{f.title}}">
        <mat-card-actions>
          <h3><mat-icon>euro</mat-icon> {{f.price}}</h3>
          <button><mat-icon>shopping_cart</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </a>
  </div>
</ng-template>

<ng-template #nodata>
  <h3>No data for this page.</h3>
</ng-template>
