<h1>Figures</h1>

<div class="filter-container">
  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>Choose a size</mat-label>
      <mat-select [(value)]="selectedSize">
        <mat-option value="">All Sizes</mat-option>
        <mat-option [value]="size" *ngFor="let size of filterOptions.sizes">{{size}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label>Price from:</mat-label>
      <input matInput type="number" [min]="filterOptions.minPrice" [max]="filterOptions.maxPrice" [(ngModel)]="fromVal">
      <button *ngIf="fromVal" matSuffix mat-icon-button aria-label="Clear" (click)="fromVal=filterOptions.minPrice">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label>Price to:</mat-label>
      <input matInput type="number" [min]="filterOptions.minPrice" [max]="filterOptions.maxPrice" [(ngModel)]="toVal">
      <button *ngIf="toVal" matSuffix mat-icon-button aria-label="Clear" (click)="toVal=filterOptions.maxPrice">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-button-toggle-group #group="matButtonToggleGroup" (change)="changePage(group.value)" *ngIf="figures.size > 1">
      <mat-button-toggle [value]="f.key" *ngFor="let f of figures | keyvalue" [class.mat-button-toggle-checked] = "f.key == currentPage">
        {{f.key}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>

<app-loader *ngIf="isLoading;else cardcontainer"></app-loader>

<ng-template #cardcontainer>
  <div class="card-container" *ngIf="checkDataForPageExists();else nodata">
    <a class="card-link" *ngFor="let f of displayedFigures()">
      <mat-card class="card figure">
        <img mat-card-image [src]="f.image" alt="Image of {{f.title}}">
        <mat-card-actions>
          <h3><mat-icon>euro</mat-icon> {{f.price}}</h3>
          <button><mat-icon>shopping_cart</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </a>
  </div>
</ng-template>

<ng-template #nodata>
  <h3>No data for this page.</h3>
</ng-template>
