<div class="filter-container">
  <mat-button-toggle-group #group="matButtonToggleGroup" (change)="currentPage = group.value">
    <mat-button-toggle [value]="c.key" *ngFor="let c of comics | keyvalue">
      {{c.key}}
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
<app-loader *ngIf="isLoading"></app-loader>

<div class="card-container">
  <a class="card-link" *ngFor="let c of displayedComics()">
    <mat-card class="card comic">
      <img mat-card-image [src]="c.image" alt="Image of {{c.title}}">
      <mat-card-actions>
        <h3><mat-icon>euro</mat-icon> {{c.price}}</h3>
        <button><mat-icon>shopping_cart</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </a>

</div>
