@import '_colors';

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $font-color;
}

a {
  text-decoration: none;
  color: $font-color;
}

.plr-5 {
  padding: 0 1rem;
}

.flex-r {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* SIDE-NAVIGATION */
.side-nav-container {
  height: calc(100% - 100px);

  .side-nav-nav {
    align-items: flex-start;
  }

  .side-nav {
    background-color: $background-white;
    padding: 1rem 1.5rem 0 1.5rem;
    border: none;
    cursor: pointer;

    .side-nav-nav {
      .nav-item {
        padding-left: 0.5rem;
        margin-bottom: 0.5rem;

        &:hover:not(.active) {
          color: $primary-blue;
          border-left: 0.2rem solid $primary-blue;
        }
      }
      .active {
        color: $primary-organe;
        border-left: 0.2rem solid $primary-organe;
      }
    }
  }
}

/* FILTER CONTAINER */
.filter-container {
  .row {
    display: flex;
    align-items: center;
    gap: 1rem;

    button {
      display: flex;
      align-items: center;
      padding: 0.2rem;

      &:hover {
        color: $primary-blue;
        border-radius: 0.2rem;
        -webkit-border-radius: 0.2rem;
        -moz-border-radius: 0.2rem;
        -ms-border-radius: 0.2rem;
        -o-border-radius: 0.2rem;
}
    }
  }
}


/* CARDS */
.card-link:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.25rem $primary-blue);
  -webkit-filter: drop-shadow(0 0 0.25rem $primary-blue);
  transition-duration: 0.2s;
}

.card {
  width: 200px;
  height: 300px;

  img {
    height: 80%;
  }

  mat-card-actions {
    display: flex;
    justify-content: space-between;

    h3 {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    button:hover {
      cursor: pointer;
      color: $primary-organe;
      transition-duration: 0.2s;
    }
  }
}

button, button[mat-icon-button] {
  cursor: pointer;
  background: none;
  border: none;
}

.card-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 1rem;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: 400px;

  .mat-form-field-infix {
    width: 400px !important;
  }
  .btn-group {
    display: flex;
    gap: 1rem;

    button, .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      &:hover:not(:disabled) {
        color: $primary-blue;
      }

      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}
